// Body
$body-bg: #f8fafc;
$blue-bg: #3e8ebb;
$green-bg: #36ba9b;
$yellow-bg: #f5b946;
$red-bg: #d94352;

// Typography
$font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
